//Global styles
:root {
  --mainFontColor: white;
  --secondFontColor: #9d9c9c;
  --detailColor: #f8b008;
  --bgContrastColor: #101116;

  --smallHeading: 1.5rem;
  --bigHeading: 5vh;

  a {
    text-decoration: none;
  }
}

body {
  //margin: 0;
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(90deg, #262935, #111116);
}
